html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.WorkSpacePage {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1d2125;
}

.MainContent {
  flex: 1;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.no-sections,
.no-boards {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 29px;
  margin-top: 20px;
}
